@bg: #ffffff;
@light-c: #e3e3e3;
@dark-c: #333333;
@accent-c: #eb1c23;
@f: 'Open Sans';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: @dark-c;
  font-size: 62.5%;
  font-family: @f, sans-serif;
}
.app{
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  background-color: @bg;
  font-size: 1.6rem;
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

/************ header *******************/
.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 5px 20px;
  border-bottom: 1px solid @dark-c;
  background-color: @light-c;
}
.logo {
  width: auto;
  height: 50%;
  padding: 20px 0;
}
.headerNav {
  display: flex;
  align-items: center;
}
@media (max-width: 340px) {
  .menuDropdown {
    font-size: 1.3rem;
  }
}
.menuDropdown {
  position: relative;
  padding-left: 20px;
  margin-left: 0;
  list-style: none;
  background-color: @light-c;
}
.menuDropdown a {
  text-transform: uppercase;
}
.fa-user {
  font-size: 2.0rem;
}
.arrow {
  padding: 0 0 0 10px;
  border: none;
  background-color: transparent;
  outline: none;
}
/************ main-container*******************/
.warning {
  width: 100%;
  height: 40px;
  background-color: #ffdce0;
  border: 1px solid #86181d;
  color: #86181d;
  text-align: center;
  line-height: 40px;
}
.mainBox {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 20px 20px 20px 0;
}
.box1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.info {
  width: 100%;
}
.infoNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  min-height: 40px;
  background-color: #9a9696;
}
@media (max-width: 500px) {
  .infoNav {
    justify-content: space-between;
  }
}
.userList {
  width: 100%;
  margin-top: 20px;
  border: 1px solid @dark-c;
}
.table {
  min-height: 500px;
}
@media (max-height: 500px) {
  .table{
    min-height: auto;
  }
;
}
.searchLabel {
  position: relative;;
}
.searchButton {
  position: absolute;
  right: 10px;
  top: 5px;
}
.captionBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cell:first-child {
  width: 42%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.cell:nth-child(4) {
  width: 10%;
}
.usersCount {
  width: 70%;
}
.usersNav {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  width: 30%;
}
.usersNavButton {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  font-size: 2.8rem;
  color: @dark-c;
  outline: none;
  cursor: pointer;
}
@media (max-width: 600px) {
  .row {
    font-size: 1.4rem;
  }
  .cell,
  .cell:first-child,
  .cell:nth-child(4) {
    width: 20%;
  }
  .usersNavButton {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 400px) {
  .row {
    font-size: 1.2rem;
  }
}

  /************ footer *******************/
.footer {
  height: 10%;
  color: @light-c;
  background-color: @dark-c;
  font-size: 1.2rem;
}
.footer p {
  text-align: center;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .header {
    height: 40px;
    font-size: 1.4rem;
    padding: 5px 10px;
  }
  .logo {
    padding: 10px 0;
  }
  .mainBox {
    padding: 5px;
  }
}
.box {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}