@bg: #ffffff;
@light-c: #e3e3e3;
@dark-c: #333333;
@accent-c: #eb1c23;
@f: 'Open Sans';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: @dark-c;
  font-size: 62.5%;
  font-family: @f, sans-serif;
}
.app{
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  background-color: @bg;
  font-size: 1.6rem;
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

/************ header *******************/
.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 5px 20px;
  border-bottom: 1px solid @dark-c;
  background-color: @light-c;
}
.logo {
  width: auto;
  height: 50%;
  padding: 20px 0;
}
.about-us {
  color: @dark-c;
  text-decoration: none;
  margin-left: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.about-us:hover {
  color: @accent-c;
}
.header-nav {
  display: flex;
  align-items: center;
}

/************ main-container*******************/
.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 auto;
  height: 70%;
}

/************ footer *******************/
.footer {
  height: 10%;
  color: @light-c;
  background-color: @dark-c;
  font-size: 1.2rem;
}
.footer p {
  text-align: center;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .header {
    height: 40px;
    font-size: 1.4rem;
    padding: 5px 10px;
  }
  .logo {
    padding: 10px 0;
  }
}






